# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Download and build toolchain
      run: ./build-gcc-v850-elf-toolchain.sh
      
    - name: Package it as tar.gz to preserve permissions
      run: tar -czvf gcc-v850-elf-toolchain.tar.gz /opt/gcc-v850-elf-master
      
    - uses: actions/upload-artifact@v2
      with:
        name: gcc-v850-elf-toolchain.tar.gz
        path: gcc-v850-elf-toolchain.tar.gz
